/*************************
* CIRCLE STUDIO srl, 2015
**************************/ 

@font-face {
    font-family: 'Big-Caslon';
    src: url('fonts/BigCaslon-Medium.eot');
    src: url('fonts/BigCaslon-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/BigCaslon-Medium.woff') format('woff'),
        url('fonts/BigCaslon-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('fonts/NexaRustScriptL-0.eot');
    src: url('fonts/NexaRustScriptL-0.eot?#iefix') format('embedded-opentype'),
        url('fonts/NexaRustScriptL-0.woff') format('woff'),
        url('fonts/NexaRustScriptL-0.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol-Italic';
    src: url('fonts/Bariol-Italic.eot');
    src: url('fonts/Bariol-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Bariol-Italic.woff') format('woff'),
        url('fonts/Bariol-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bariol';
    src: url('fonts/Bariol.eot');
    src: url('fonts/Bariol.eot?#iefix') format('embedded-opentype'),
        url('fonts/Bariol.woff') format('woff'),
        url('fonts/Bariol.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-size: 100%; /* Raffaele */
    background: #FFF;
    color: #232323;
    font-family: 'Lato';
    font-weight: 300;
    max-width: 100%;
    overflow-x: hidden;
}

pre {
    display: none;
}

p {
    /*font-weight: 300;*/
    font-size: 1em;
    line-height: 1.5em;
    /*text-align: justify;*/
}

p.white, div.white, .white {
    color: #fff;
}

a.arrowlink {
    display: inline-block;
    height: 10px;
    position: absolute;
    width: 55px;
    cursor: pointer;
}

p.dark, div.dark, .dark {
    color: #444;
}

p.grigione, div.grigione, .grigione {
    color: #494949;
}

p.red, div.red, .red {
    color: #e53946;
}

p.grigio, div.grigio, .grigio {
    color: #b1ac9f;
}


p.lightdark, div.lightdark, .lightdark {
    color: #4f4f4f;
}

p.green, div.green, .green {
    color: #95a56e;
}

p.magenta, div.magenta, .magenta {
    color: #C91734;
}

.tondared {
    background-color: #e53946;
}

.celesteBack {
    background-color: #73b8d4;
}

.greenBack {
    background-color: #95a56e;
}

.darkBack {
    background-color: #2a2a2a;
}

.darkBack-abs {
    background-color: rgba(0,0,0,.8);
    position: absolute;
    z-index: 99;
}

.lato {
    font-family: 'Lato';
}

.PF-BigCaslon {
    font-family: 'Big-Caslon';   
}
.PF-Nexa {
    font-family: 'Nexa';
}   
.PF-BariolItalic {
    font-family: 'Bariol-Italic';
}
.PF-Bariol {
    font-family: 'Bariol';
}


.PF-headline {
    margin: 1em 0;
}

.expanded {
    line-height: 2em;
    font-family: 'Lato';
    font-size: .7em;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#hidden {
    display: none;
}

/* Preloader */

#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,1); /* change if the mask should have another color then white */
    z-index:9999999; /* makes sure it stays on top */
}

#status {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.logo-home {
    position: absolute;
    z-index: 9999;
    display: block;
}

.pace .pace-progress {
  background: #e33a49;
  position: fixed;
  z-index: 99999999;
  top: 50%;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}

.cursor-hand {
    cursor: pointer;
}

.video-embed {
    padding: 2em;
    margin: 0 auto;
    display: block;
    background: white;
    position: relative;
}

#titlepage {
    display: none;
}

.scroll {
    position: fixed;
    bottom: 5%;
    z-index: 99999;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
}

.poster {
    position: relative;
    width: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    display: none;
}

#video {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
/*    display: none;*/
    z-index: 9;
    bottom: 0;

}

#video-intro {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
/*    display: none;*/
    z-index: 9;
    bottom: 0;
}

#videoiframe {
    /*border: 10px solid white;*/
    box-sizing: content-box;
}

.close-video {
    position: fixed;
    left: 2em;
    top: 90px;
    display: none;
    cursor: pointer;
}

.clear {
    clear: both;
}

.zero {
    display: flex;
}

.zero .col-xs-1, .zero .col-sm-1, .zero .col-md-1, .zero .col-lg-1, .zero .col-xs-2, .zero .col-sm-2, .zero .col-md-2, .zero .col-lg-2, .zero .col-xs-3, .zero .col-sm-3, .zero .col-md-3, .zero .col-lg-3, .zero .col-xs-4, .zero .col-sm-4, .zero .col-md-4, .zero .col-lg-4, .zero .col-xs-5, .zero .col-sm-5, .zero .col-md-5, .zero .col-lg-5, .zero .col-xs-6, .zero .col-sm-6, .zero .col-md-6, .zero .col-lg-6, .zero .col-xs-7, .zero .col-sm-7, .zero .col-md-7, .zero .col-lg-7, .zero .col-xs-8, .zero .col-sm-8, .zero .col-md-8, .zero .col-lg-8, .zero .col-xs-9, .zero .col-sm-9, .zero .col-md-9, .zero .col-lg-9, .zero .col-xs-10, .zero .col-sm-10, .zero .col-md-10, .zero .col-lg-10, .zero .col-xs-11, .zero .col-sm-11, .zero .col-md-11, .zero .col-lg-11, .zero .col-xs-12, .zero .col-sm-12, .zero .col-md-12, .zero .col-lg-12 {
	padding:0 !important;
}

ul {
    padding: 0;
    margin: 0;
}
/* SKELETON LAYOUT */

/* NAV MENU */

nav.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

ul.menu-items li {
    color: #2a2a2a;
    font-weight: 400;
    letter-spacing: 1px;
    display: inline-block;
    font-size: 12px;
}

nav#nav-interna {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 0;
    display: none;
}

nav#nav-interna ul.menu-items {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

nav#nav-interna ul.menu-items li {
    color: #494949;
    display: block;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 12px;
    margin: .5em 0;
    text-align: center;
    font-family: PF-BlackItalic;
    text-transform: lowercase;
}

.copyright {
    font-family: 'Lato';
    font-weight: 300;
    font-size: .7em;
    letter-spacing: 1px;
    color: #cba674;
    text-align: center;
    position: absolute;
    bottom: 1em;
    margin: 1em auto;
}

a.active-lang {
    color: #cba674 !important;
}

.languagemenu {
    font-weight: 400;
    font-size: 12px;
    z-index: 99999;
}

.languagemenu-interne {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 3px;
    color: white;
}

.active a {
    color: #e33a49 !important;
}

.social-icon {
    width: 36px;
    margin: 0 .5em;
}

/* /NAV MENU */

#row {
    position: relative;
    display: inline-block;
    width: 100%;
}

.header-wrapper {
    position: absolute;
    width: 100%;
}

.header-wrapper-interne {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 7em;
    z-index: 99;
}

#menu-icon {
    height: 46px;
    cursor: pointer;
    position: fixed;
    z-index: 999999;
    right: 15px;
    top: 0;
    padding: 11.5px 14px;
}

#menu-icon .base {
    position: relative;
    height: 17px;
    z-index: 1;
}

#menu-icon .base span {
    background: #494949;
}

#menu-icon .base.arancio span {
    background: #bba73a !important;
}

#menu-icon .base.magenta span {
    background: #C91734 !important;
}

#menu-icon .base.green span {
    background: #95a56e !important;
}

#menu-icon span {
    display: block;
    width: 100%;
    width: 25px;
    height: 2px;
    margin: 5px 0;
    background: #c6c7c8;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#menu-icon.on {
    background-color: white;
}

#menu-icon.on .base{
/*    left:7px;
    top: 9px;*/
}

#menu-icon.on span:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(4px, 4px);
    -ms-transform: rotate(45deg) translate(4px, 4px);
    -moz-transition: rotate(45deg) translate(4px, 4px);
    -o-transition: rotate(45deg) translate(4px, 4px);
    transform: rotate(45deg) translate(4px, 4px);
    background: #95a56e;
}

#menu-icon.on span:nth-child(2) {
    opacity: 0;
}

#menu-icon.on span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(6px, -6px);
    -ms-transform: rotate(-45deg) translate(6px, -6px);
    -moz-transition: rotate(-45deg) translate(6px, -6px);
    -o-transition: rotate(-45deg) translate(6px, -6px);
    transform: rotate(-45deg) translate(6px, -6px);
    background: #95a56e;
}

/* /SKELETON LAYOUT */

/* HEADINGS */

.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 8em;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}

.link--kukuri {
	font-weight: 900;
	overflow: hidden;
/*	line-height: 0.75;*/
	color: #b2b0a9;
}

.link--kukuri:hover {
	color: inherit;
}

.link--kukuri::after {
	content: '';
	position: absolute;gi
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #FFF;
	transform: translate3d(-100%,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kukuri:hover::after {
	transform: translate3d(100%,0,0);
}

.link--kukuri::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #fff;
	white-space: nowrap;
	width: 0%;
	transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
	width: 100%;
}

.linkmainnav {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 8em;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}

.link--kukurimainnav {
	font-weight: 400;
	overflow: hidden;
}

.link--kukurimainnav:hover {
	color: inherit;
}

.link--kukurimainnav::after {
	content: '';
	position: absolute;gi
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #95a56e;
	transform: translate3d(-100%,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kukurimainnav:hover::after {
	transform: translate3d(100%,0,0);
}

.link--kukurimainnav::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #95a56e;
	white-space: nowrap;
	width: 0%;
	transition: width 0.4s 0.3s;
}

.link--kukurimainnav:hover::before {
	width: 100%;
}

h1.PF-BlackItalic {
    letter-spacing: -2px;
}

.titlecenter {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    top: 10%;
    z-index: 999;
}

.title-vertcenter {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    top: 0;
    z-index: 99999;
    bottom: 0;
    display: table;
}

h2, h3, h4 {
    font-family: 'Lato';
    text-align: left;
    color: #3e3d40;
}

h1.white, h2.white, h3.white, h4.white, h5.white, .h6.white {
    color: #fff;
}

.menu-item-line:after {
    position: absolute;
    content: "";
    top: -2px;
    left: -5px;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background: #303030;
}

.menu-item-line-left {
    position: absolute;
    margin-top: -25px;
    width: 40%;
    left: 0;
    transition: all 1.5s .2s cubic-bezier(.19,1,.22,1);
    height: 1px;
    background: #303030;
}

.menu-item-line-left:after {
    position: absolute;
    content: "";
    top: -2px;
    right: -5px;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background: #303030;
}


/*h1.maintitle:after, a.anim:after {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    content: "";
    display: block;
    position: relative;
    left: 0;
    bottom: 0px;
    width: 40%;
    height: 1px;
    background: #ba987e;
    right: 0;
    margin: 0 auto;
}

h1.maintitle:hover:after, a.anim:hover:after {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}*/

/* /HEADINGS */

/* FOOTER */

.footer-container {
    position: relative;
    bottom: 0;
    padding-top: 1em;
    text-align: center;
    z-index: 9999;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.footer {
    font-size: 0.8em;
    color: #bebebe;
    font-family: 'Lato';
    width: 100%;
    height: 5em;
    position: relative;
    z-index: 9999;
    display: table;
}

.footer-interne {
    font-size: 0.8em;
    color: #7F7F7F;
    font-family: 'Lato';
    width: 100%;
    background: #282828;
    position: relative;
    z-index: 9;
    display: table;
    padding: .5em 0;
    margin-top: -6px;
}

.footer-interne a, .footer-interne a:visited, .footer-interne a:active {
    color: #7F7F7F;
}

.footer-interne a:hover {
    color: white;
}

a.footer-link, a.footer-link:active, a.footer-link:hover, a.footer-link:visited {
    color: #7F7F7F;
}

.logo-footer {
    width: 90%;
    max-width: 200px;
    margin: 2em auto;
    position: relative;
}

.footer-text {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    bottom: .5em;
    margin: 0 auto;
    text-align: center;
    font-size: 0.8em;
    color: #999;
}

.footer-info-small {
    font-size: .8em;  
}

/* /FOOTER */

/* LINKS */

a.white, a.white:visited, a.white:active, a.white:hover {
    color: #fff;
    text-decoration: none;
}

a.nexalink, a.nexalink:visited, a.nexalink:active, a.nexalink:hover {
    color: #fff;
    font-family: 'Nexa03';
    text-decoration: none;
}

a.neutral, a.neutral:hover, a.neutral:visited, a.neutral:active {
    font-family: inherit;
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}

a, a:visited, a:active, a:hover {
    color: #232323;
    font-family: 'Lato';
    text-decoration: none;
}

a.red, a.red:visited, a.red:active, a.red:hover {
    color: rgba(229, 57, 70, 1);
}

a.grey, a.grey:visited, a.grey:active, a.grey:hover {
    color: #7F7F7F;
}

a.empty {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.shadow {
    text-shadow: 2px 2px 4px #000;
}

a.bold, a.bold:visited, a.bold:active {
    font-weight: 700;
}

a.bold:hover {
    text-decoration: underline;
}

a.red, a.red:visited, a.red:active, a.red:hover {
    color: rgb(229, 57, 70);
}

a.green-link {
    font-family: 'Lato';
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 .5em;
    border-bottom: 5px solid #95a56e;
    letter-spacing: 3px;
    font-size: .8em;
}

a.celeste-link {
    font-family: 'Lato';
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 .5em;
    border-bottom: 5px solid #73b8d4;
    letter-spacing: 3px;
    font-size: .8em;
}

/* /LINKS */

/*#slider-hp {
    display: table;
    width: 100%;
}*/

#slider-hp ul.slides {
    height: 100%;
    width: 100%;
    position: relative;
    left: 0;
    z-index: 0;
}

.hometitle {
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.frecciasotto {
    position: absolute;
    left: 0;
    z-index: 999;
}

.vertcenter-wrapper {
    display: table;
    height: 100%;
    text-align: center;
}

.vertcenter-content {
    display: table-cell;
    vertical-align: middle;
    padding: 0 1em;
}

.titleimage {
    width: 80%;
    margin-left: 10%;
    max-width: 400px;
}

.featured_prj {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#videoslide {
    margin: 0 auto;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
}

.opacity-layer-white {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    position: relative;
    display: table;
}

.project-logo {
    display: table-cell !important;
    vertical-align: middle;
    left: 0;
    right: 0;
    position: absolute !important;
    bottom: 0;
    top: 0;
    margin: auto;
    max-width: 220px !important;
}

.project-image img {
    width: 100%;
}

.project-image.grey {
    background-color: #D2CFCE;
}

.project-content-text {
    width: 60%;
    text-align: center;
    color: #555;
    margin: 4em auto;
    letter-spacing: -1px;
}

.tutti-i-progetti {
    background-color: #2a2a2a;
    margin: 0 auto;
    text-align: center;
    display: table;
    height: 150px;
}

img.tutti-i-progetti-img {
    display: table-cell;
    vertical-align: middle;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    max-width: 100%;
    max-height: 130px;
}

.fud-logo {
    width: 100%;
    max-width: 250px;
    margin: 1em auto;
    display: block;
}

.vaialprogetto {
    position: relative;
    left: 0;
    right: 0;
    margin: 1em auto;
    text-align: center;
    display: table;
    margin-top: 90%;
    color: white;
}

.bold {
    font-weight: 700;
}

.post {
    margin: 2em 0;
}

.post-thumb {
    margin: 0 auto 2em auto;
    width: 100%;
}

.page-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.page-cover-top {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
}

.page-image-top {
    position: fixed;
    width: 100%;
}

.white-back {
    background: white;
    position: relative;
    display: inline-block;
}

.services-image {
    width: 100%;
}

input[type="text"] {
    background: none;
    border: none;
    border-bottom: 1px solid #AAA;
    padding: .5em 0;
    font-family: 'Lato';
    font-weight: 300;
    margin: .5em 0;
}

input[type="submit"], input[type="button"] {
    background-color: #95a56e;
    padding: 1em 2.5em;
    text-align: center;
    font-family: 'Lato';
    color: white;
    margin: 2em auto 0em auto;
    border: 0;
    font-size: .9em;
    font-weight: 100;
    left: 0;
    right: 0;
    display: block;
}

input[type="file"] {
    padding: 1em 2.5em;
    text-align: center;
    font-family: 'Lato';
    color: #232323;
    margin: 2em auto;
    border: 1px solid #AAA;
    font-size: .9em;
    font-weight: 300;
    left: 0;
    right: 0;
    display: block;
}

textarea {
    width: 100%;
    height: 12em;
    background: transparent;
    margin: 1em 0;
    color: #232323;
    border: 1px solid #AAA;
}

.work-back-arrow {
    width: 32px;
    position: absolute;
    bottom: 0;
    left: 15px;
    top: 0;
    margin: auto;
}

.arrowmiddle {
    position: initial;
    display: inline-block;
    top: 0;
    bottom: 0;
}


/*input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 25px;
    height: 20px;
    display: inline-block;
    line-height: 1.4em;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 300;
    color: #7E7E7E;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -20px;
}

.css-label{
    background-image: url(../images/lite-check.png);
}*/


.visitalink {
    letter-spacing: 5px;
    font-size: .7em;
    font-weight: 300;
    border-top: 4px solid;
    text-align: center;
    padding: 10px 0;
}


.customer-name {
    font-family: 'Lato';
    font-size: .3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFF;
    clear: both;
    
}

.coverimage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
}

.content-text{
    margin: 4% 0;
}

.content-vcenter {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

p.text-full{
    line-height: 1.7em;
    font-size: 1.1em;
}


div.full-width-text h1 {
    margin: 0 0 0.7em 0;
}

.masonry { /* Masonry container */
    column-count: 2;
    column-gap: 0px;  
}

.item { /* Masonry bricks or child elements */
    margin: 0;
    width: 100%
}

.challenge {
    font-size: 1.3em !important;
}

.story_1{
    position: relative;
    top: 16vh;
    left: 2vw;
    width: 90%;
    height: 90%;
    -ms-transform: rotate(-1deg); /* IE 9 */
    -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
    transform: rotate(-1deg);
}

.story_2{
    position: relative;
    top: 26vh;
    left: 0;
    margin: 0 auto;
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
}
.story_caption{
    position: relative;
    top: 22vh;
    right: 8vw;
}

.story_caption_right {
    position: relative;
    top: 26vh;
    text-align: left;
}


.story_title{
    position: relative;
    top: 5vh;
    left: 0;
    font-weight: 100;
}


.basilico {
    position: absolute;
    bottom: -15vh;
    right: 0;
    z-index: 1000;
    top: 0;
}

.margherita {
    position: absolute;
    top: 2vh;
    left: 0;
}

.pomodorini {
    position: absolute;
    bottom: -25vh;
    left: 50%;
    z-index: 1000;
    top: 0;
}

#accoglienza {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

#slider-pizzerie {
    margin-bottom: -2em;
}

.organic-wall {
    z-index: 10;
    margin-top: 2em;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.la-nostra-pizzetta {
    position:  relative;
    margin: 2em auto;
    text-align: center;
    z-index: 99;
    font-size: 1.5em;
}

.bg-pattern {
    background-image: url("../images/bg_pattern.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.quadretti {
    border-right: 5px solid #e53946;
}

.trieste-mare {
    position: relative;
    margin: 3em auto;
    -webkit-transform: rotate(-5deg);
    width: 90%;
    max-width: 490px;
}

.padding-top-bottom {
    padding-top: 5em !important;
    padding-bottom: 5em !important; 
}

.freccia-tonda {
/*    width: 80%;
    max-width: 350px;
    left: 0;
    margin-left: 0;*/
}

.riccardo-foto {
    position: relative;
    z-index: 10;
}

.riccardo-caption {
    position: absolute;
    bottom: .5em;
    left: .5em;
    z-index: 11;
}

.openquotes {
    position: relative;
    z-index: 10;
    float: left;
    -webkit-transform: rotate(180deg);
}

.closedquotes {
    position: relative;
    z-index: 10;
    float: right; 
    -webkit-transform: scaleY(-1);
}

.riccardo-quote {
    position: relative;
    z-index: 999;
    font-size: 1.5em;
}

.pomodoro {
    position: absolute;
    bottom: 0;
    left: -10%;
    top: 0;
    margin: auto;
    max-width: 700px;
    width: 25%;
}

.farina {
    position: absolute;
    /*left: 0;*/
    right: 0;
    margin: auto;
    z-index: 0;
    top: -25%;
    bottom: 0;
    width: 100%;
    max-width: 800px;
}

.farina-caption {
        position: absolute;
    margin-top: 25% !important;
    line-height: .9em;
    text-align: right;
    font-size: 1.5em;
    color: #cac9aa;
    height: 20em;
}

#gusto-locale-container {
    z-index: 1;
}

.stilton-caption {
    margin-right: 15px;
    line-height: 1.1em !important;
    font-size: 1.5em !important;
}

.produttori-locali {
    font-size: .6em;
    top: -0.5em;
    position: relative;
}

.friarielli {
    position: relative;
    float: right;
    right: -2em;
    z-index: 10;
}

.friarielli-caption {
    position: absolute;
    bottom: 4em;
    text-align: right;
    line-height: 1.1em !important;
    font-size: 1.5em !important;
    width: 100%;
    padding-right: 15px;
}

.tonda-bianco {
    width: 150px;
}

.freccia-caffe {
    margin-top: 5em;
    left: -10%;
    position: relative;
    width: 100%;
    max-width: 266px;
}

.artigiani-posters {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}