/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
    
    .bottomabs {
        position: relative;
    }
    
    .pizzetta-stilton {
        position: relative;
        width: 80%;
        z-index: -1;
        margin: 0 auto;
        display: block;
    }
    
    .stilton {
        position: relative;
        margin: 0 auto;
        z-index: 1;
        display: block;
        width: 60%;
    }
    
    .packaging-back {
        background-color: #454141;
    }
/*    
    .coffee-cups {
        margin-top: -1em;
    }*/
    
    #accoglienza {
        padding-top: 1em !important;
        min-height: 300px;
    }
    
    .apetta {
        position: relative;
        right: -10%;
        margin-top: 1em;
    }
    
    .trieste-mare {
        width: 80%;
    }
    
    .farina {
        width: 100%;
    }
    
    .organic-wall {
        position: relative;
    }
    
    .content-vcenter {
        padding: 20px;
    }
    
    .bigger {
        font-size: 3em;
        line-height: 1em;
    }
    
    .big {
        font-size: 2em;
        line-height: 0.9em;
    }
    
    .title {
        font-size: 3em;
        line-height: 0.9em;
    }
    .project-content-text {
        font-size: 3em;
    }
    
    
    .titlecenter {
        margin-top: 0%;
    }
    
    .slider-title-wrapper {
        position: relative; 
        top:10%; 
        width: 100%;
    }
    
    .slider-title {
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        top: 10%;
        z-index: 999;
    }
    
    .colouredTitle {
        height: inherit;
    }
    
    #home-content {
        margin-top: 0%;
        position: relative;
        width: 100%;
        display: inherit;
    }
    
    .header-wrapper, nav.navbar, .header-wrapper-interne {
        height: 60px;
        /*background: rgba(0, 0, 0, 0.7);*/
    }
    
    ul.menu-items li {
        margin: 14px 1em;
    }
    
    nav#nav-interna ul.menu-items li {
        font-size: 1.6em;
    }
    
    .languagemenu {
        margin: 14px 0;
    }
    
    .logo-home {
        height: 40px;
        margin: 10px auto;
        left: 0;
        right: 0;
    }
    
    #slider-hp {
        margin-top: -20px;
        margin-bottom: 30px;
    }
    
    #slider-hp ul.slides {
        height: 100%;
    }
    
    .project-details {
        padding-top: 2em;
        padding-bottom: 2em;
        background: rgba(0,0,0,.85);
        color: white;
        position: relative;
        z-index: 99;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    #slider-hp {
        margin-top: -40px;
    }
    
    .bigger {
        font-size: 5em;
        line-height: 1em;
    }
    
    .pizzetta-stilton {
        position: relative;
        margin-left: -60%;
        width: 160%;
        z-index: -1;
        margin-bottom: -50%;
    }
    
    .logo-home {
        height: 60px;
        margin: 10px auto;
    }
    
    nav#nav-interna ul.menu-items li {
        font-size: 2em;
    }
    
    #slider-hp ul.slides {
        height: 100%;
    }
    
    #slider-hp ul.slides li.slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .testi {
        line-height: 2em;
        font-size: .9em;
        color: #2a2a2a;
        font-family: 'Lato';
        font-weight: 300;
    }
       
}


@media (min-width: 768px) and (orientation: portrait) {
      

}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    #accoglienza {
        padding-top: 5em !important;
    }
    
    .packaging-back {
        background-color: #454141;
        /*margin-top: -6em;*/
    }
    
    .pizzetta-stilton {
        position: relative;
        margin-left: -60%;
        width: 160%;
        z-index: -1;
        margin-bottom: -50%;
    }
    
    .stilton {
        position: relative;
        right: -30%;
        z-index: 1;
        
    }
    
    .apetta {
        position: relative;
        right: -10%;
        margin-top: -20%;
    }
    
    .trieste-mare {
        width: 60%;
    }
    
    .farina {
        width: 100%;
    }
    
/*    .coffee-cups {
        margin-top: -1em;
    }*/
    
    .bottomabs {
        position: absolute;
        bottom: 0;
    }
    
    .organic-wall {
        position: absolute;
    }
    
    ul.navbar-nav li {   
        min-width: 100px;   
    }
    
    .colouredTitle {
        height: 200px;
    }
    
    nav#nav-interna ul.menu-items li {
        font-size: 3em;
    }
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
    .content-vcenter {
        padding: 60px;
    }
    
    .colouredTitle {
        height: 200px;
    }
    
    .bigger {
        font-size: 8em;
        line-height: 1em;
    }
    
    .big {
        font-size: 5em;
        line-height: 1em;
    }
    
    
    .title{
        font-size: 4em;
        line-height: 1em;
    }
    ul.navbar-nav li {   
        min-width: 140px;   
    }
   
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
    
    ul.navbar-nav li {   
        min-width: 170px;   
    }
    
    .colouredTitle {
        height: 250px;
    }
   
}


/* iPhone 5+5S P+L */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
{
    
}

/* iPhone 6plus P+L */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px)
{

}

/* iPhone 6 P+L */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
{

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* iPad Landscape */
@media only screen and (max-width : 1024px) {
    h2.playfairib{
        font-size: 24px;
    }

    h3.playfairi{
        font-size: 14px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}


/* iPad Landscape */
@media only screen and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
