/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-ago-2014, 17.58.33
    Author     : circlemac2
*/

body {
    background-color: #f5f5f5;
    font-family: 'Lato';
    font-size: 1em;
    color: #4F5155;
}

p {
    font-weight: 300;
    font-size: 0.95em;
}

.center50 {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;
    text-align: justify;
}

.top-left {
    position: absolute;
    left: 0;
    top: 20%;
}

h1.grigione {
    padding: 0px 10px;
    font-family: 'Lato';
    font-size: 3.2em;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    background-color: #232323;
    padding: 0 10px;
    margin: 5px auto 5px auto;
    color: white;
}

h1.label-green, h2.label-green {
    color: white;
    padding: 0.3em;
    background-color: #99a801;
    display: inline-block;
    line-height: 1em;
    margin: 0;
}

h4.label-green {
    color: white;
    padding: 0.3em;
    background-color: #99a801;
    display: inline-block;
    line-height: 1em;
    margin: 0;
    font-size: 1em;
}

.button {
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 7px 14px;
    border: 1px solid transparent;
    border-radius: 2px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    white-space: normal;
    font-style: normal;
    font-size: 1em;
    font-weight: 700;
    font-family: "Lato";
    cursor: pointer;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.footer {
    font-size: 0.7em;
    color: #ebebeb;
    font-family: 'Lato';
}

.footer-container {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 10000000;
    display: block;
}

.error {
    margin: 1em 0;
    color: red;
    font-size: 0.9em;
}

.signup_wrap {
    background: #ebebeb;
    color: #232323;
    position: relative;
    text-align: center;
    top: 0;
    left: 50%;
    width: 320px;
    margin-left: -175px;
    padding: 10px;
    border: 5px solid #999;
}

.signup_wrap label {
    position: relative;
    display: inline-block;
    width: 7em;
    text-align: left;
}

.admin-home-footer {
    position: absolute;
    bottom: 0.5em;
    text-align: center;
    font-size: 0.7em;
    color: #232323;
    left: 0;
    right: 0;
    margin: 0 auto;   
}

.admin-home-footer img {
    width: 90px;
}

.center {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.login-logo {
    position: relative;
    left: 0;
    right: 0;
    margin: 2em auto;
    top: 10%;
    display: block;
}

nav {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 4em;
    background: #232323;
    z-index: 999999;
}

nav ul {
    width: 100%;
    text-align: center;
}

nav ul li {
    color: #a9a9a9;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.1em;
    display: inline-block;
    padding: 0 0em 0.5em 0;
    margin: 0 0.5em;
}

nav ul li a {
    color: #a9a9a9;
    text-decoration: none;
}

nav ul li.active {
    border-bottom: 3px solid #95A56E;
}

.content {
    width: 80%;
    margin-top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* min-width: 980px; */
    position: relative;
    opacity: 0;
/*    border: 5px solid green;
    box-sizing: border-box;*/
}

.container-splash {
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* min-width: 980px; */
    position: relative;
    z-index: -1;
/*    border: 5px solid red;
    box-sizing: border-box;*/
}

.content-splash {
    position: absolute;
/*    border: 2px solid blue;
    box-sizing: border-box;*/
    height: 70%;
    top: 15%;
    left: 0;
    right: 0;
}

.content-works {
    width: 80%;
    margin-top: 15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* min-width: 980px; */
    position: relative;
    z-index: 0;
/*    border: 5px solid red;
    box-sizing: border-box;*/
}

.bottom-hexagon {
    position: absolute;
    bottom: 10%;
    display: none;
}

a.white, a.white:visited, a.white:active, a.white:hover {
    color: #fff;
    font-family: 'Lato';
    text-decoration: none;
}